.car
{
	width:1024px;
	height:inherit;
	background:#E6E6E6;
	overflow:hidden;
}
.car ul
{
	padding: 25px 0;
    list-style :none;
    margin:0;
/*ul在主流浏览器中幽默缩进问题！！！！！！！！！*/
}
.car ul li
{
	margin:30px;
	padding: 0px 5px 0px 5px;
    border-right : 1px dashed #E5E5E5;
   float : left;
   width:25%;
}
.carimage
{
	width:100%;
	height:200px;
	background-color:Aqua;
	overflow:hidden;
	border: 1px dashed Purple;
}
.cardes
{
	width:100%;
	height:60px;
	color:Gray;
	background-color:Green;
	cursor:pointer;
	margin:5px 0;
	border: 1px dashed Purple;
}