.pageneck
{
	height:40px;
	background:url('../Image/menu.gif') repeat-x;
}
#menubar 
{
	padding:5px 0 5px 0;
	margin:0 auto;
}
#menubar  ul 
{
	list-style:none;
	margin:0px;
}
#menubar ul li 
{
	float:left;
	display:block;
	line-height:30px;
	margin:0 10px;
}
.cu a:link,.cu a:visited
{
	font-weight:bold;
	font-size:x-large;
	color:rgb(17,140,184);
	text-decoration:none;
}
.ncu a:link, .ncu a:visited 
{
	font-weight:bold;
	color:White;
    text-decoration:none;
}
.ncu a:hover
{
	font-weight:bold;
	color:Green;
	text-decoration: underline;
}
/*#menubar  ul li a:link
{
	font-weight:bold;
	color:White;
    text-decoration:none;
}
#menubar ul li a:visited 
{
	font-weight:bold;
	color:White;
	text-decoration:none;
}*/


/*#menubar ul li a:hover
{
	font-weight:bold;
	color:Green;
	text-decoration: underline;
}*/