.hotelnav
{
	width:1022px;
	height:30px;
	border: 1px solid #85AFEC;
	background: #E4EDFA;
	overflow:hidden;
	margin-bottom:5px;
	line-height:30px;
}
.hotel
{
	width:810px;
	height:inherit;
	border: 1px solid #85AFEC;
	background: White;
	overflow:hidden;
	min-height:600px;
	float:left;
	margin-bottom:20px;
}
.hotel ul
{
	padding: 15px 0;
    list-style :none;
    margin:0;
/*ul在主流浏览器中幽默缩进问题！！！！！！！！！*/
}
.hotel ul li
{
	margin:10px 0px 10px 10px;
	padding: 0px 5px 0px 5px;
    border-right : 1px dashed #E5E5E5;
    float : left;
    /*width:25%;*/
}
.hotelimage
{
	width:240px;
	height:220px;
	background-color:Aqua;
	overflow:hidden;
	/*border: 1px dashed Purple;*/
}

.hotelimage img{
width: 240px;
height: 220px;
}
.hoteldes
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
	width:230px;
	height:150px;
	color:Black;
	background-color:#A9CBEE;
	margin:5px 0px;
	padding-left:10px;
	/*border: 1px dashed Purple;*/
}

strong, b {
font-weight: bolder;
margin:20px 0;
}



a.order {
font-size: 14px;
font-weight: bold;
text-align: center;
background: #F6A244;
color: white;
display: inline-block;
width: 132px;
height: 34px;
line-height: 34px;
margin-top:5px;
margin-bottom: 5px;
border: 1px solid #EBEBEB;
}
a.order:hover
{
	text-decoration:underline;
	color:Red;
}

.second_right_nav 
{
border: 0px solid #85AFEC;
background: White;
padding: 2px;
overflow: hidden;
width: 200px;
float:right;
min-height:600px;
}


.block {
background: #F5FFF1;
border: 1px solid #D0DBB8;
}
.block .title {
border-bottom: 1px solid #D0DBB8;
padding: 5px 10px;
font-weight: bold;
}
.block .b {
border: 1px solid white;
padding: 5px 10px;
}

.block .b p  a:link, a:visited {
color: #06C;
text-decoration: none;
}

.block .b p {
line-height: 28px;
}

.blank, .blank5, .blank10 {
height: 10px;
clear: both;
overflow: hidden;
clear: both;
}





#subheader {
border-bottom: 1px solid #E1E1E1;
margin:5px 0;
padding: 10px 20px;
}
h1 {
font-size: 20px;
font-family: Arial,微软雅黑,黑体;
font-weight: normal;
margin: 0;
padding: 0;
}
#content {
width: 770px;
padding: 10px 20px;
border-top: none;
border-bottom: none;
border-right: 1px solid #E1E1E1;
}

#left {
float: left;
width: 810px;

border-right: 1px solid #E1E1E1;
overflow: hidden;
}
#metaTable {
border-collapse: collapse;
padding-bottom: 10px;
margin-bottom: 10px;
width: 100%;
border-bottom: 1px dotted #CCC;
}

#metaTable td.short {
width: 50%;
}
#metaTable td {
padding: 2px 0px;
text-align:left;
}

#metaTable td label {
width: 85px;
white-space: nowrap;
}


#content p {
line-height: 28px;
text-align:left;
}

#content  a:link, a:visited {
color: #06C;
text-decoration: none;
}


.hotel a img {
width:200px;
height:200px;
}