.shadd
{
    width:770px;
	height:inherit;
	border: 1px solid #85AFEC;
    background: #E4EDFA;
	overflow:hidden;
	min-height:600px;
	float:left;
	margin-bottom:20px;
	padding:20px;
}
.shadd table
{
	margin:0;
	padding:0;
	width:760px;
	height:inherit;
}

.shadd table tr
{
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.shadd table tr td
{
	width:50%;
	text-align:left;
	padding: 2px 0px;
}
.shadd table tr td label {
width: 85px;
white-space: nowrap;
}

.infoinput
{
	width:200px;
	border:1px solid #85AFEC;
}

.errinfoput
{
	width:200px;
	border:1px solid Red;
	background:#C5EC83;
}

.des
{
   width:100%;
   height:100px;
   border:1px solid #85AFEC;
   overflow:auto;
}

#MyFile
{
	width:100%;
	border: 1px solid #85AFEC;
    background: White;
	overflow:auto;
	height:200px;
	margin-bottom:20px;
}
#MyFile .fileframe
{
	width:90%;
	border: 1px solid #D0DBB8;
	background: #C5EC83;
	margin:10px;
}


.fileframe a:hover{

}
.fileframe a:link, .fileframe a:visited
{
			background-attachment: scroll;
            background-color: transparent;
            background-image: url(../Image/home_icon.png);
            background-position: -63px -434px;
            border-width: 0px;
            cursor: pointer;
            display: inline-block;
            height: 12px;
            margin: auto 0px;
            padding: 0px;
            text-decoration: none;
            vertical-align:baseline;
            width: 14px;
            float:right;
            line-height:12px;
}

.filediv
{
	width:500px;
	margin:0px;
	padding:0px;
}

