@charset "utf-8";
/* CSS Document */

body, form, h1, h2, h3, h4 {
margin: 0px;
padding: 0px;
}

/* WHOLE PAGE */
.pageframe {
	width: 1024px;
	margin: 0 auto;
}

.nav_top
{
   width:100%;
   border-top: 2px solid #FDFFFE;
   border-bottom: 2px solid #FDFFFE;
   height: 20px;
   line-height: 20px;
   background:#FDFFFE url(../Image/topbg.gif) center top repeat-x;
}

/* HEAD */
.pagehead {
	width: 100%;
	height: 110px;
	background:url(../Image/head_bg.jpg);
	/*border: 1px black solid; */
}

.headbox {
	padding: 5px;
}

.logo {
	width: 200px;
	height: 100px;
	float:left;
	
	/*border: 1px black solid; */
}

a {
	text-decoration: none;
}

.logon-area {
	width: auto;
	float: right;
	font-size: 12px;
	margin-bottom:5px;
	/*border: 1px black solid; */
}

.logon-area a {
	padding: 0px 2px;
	color: #333;
}

.logon-area input {
width: 150px;
height: 16px;
line-height: 16px;
border: 1px solid #7F9DB9;
margin-left: 3px;
padding-left: 3px;
}

.logon-area a:hover {
	color: #CCC;
	background-color: #333;
}

.register-area {
	display: none;
	position: absolute;
	z-index:1002;
	left: 50%;
	top: 30%;
	width: 400px;
	margin-left: -200px;
	padding: 10px;
	font-size: 14px;
	background-color:#CCC;
	
	border: 1px black solid; /*指示位置*/
}

.register-info {
	text-align: center;
	list-style-type: none;
}

.register-info li {
	margin-bottom: 5px;
}

.register-info li label {
	width: 80px;
	text-align: right;
	float: left;
}

.register-info li input {
	text-align: left;
}

/* NECK */
/*.pageneck {
	width: 100%;
	
	border: 1px black solid; 
}

.menu-list {
	text-align: center;
	list-style-type: none;
}

.menu-item {
	display: inline;
}*/

/* BODY */
.pagebody {
	width: 100%;
	text-align: center;
	margin-top:2px;
	/*border: 1px black solid; 指示位置*/
}

/* FEET */
.pagefeet {
	width: 100%;
	border: 1px solid #85AFEC;
	background: #E4EDFA;
}

/* MASK */
.shade {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.60;
	filter: alpha(opacity=80);
}


.right_nav 
{
border: 1px solid #85AFEC;
background: #E4EDFA;
padding: 0px;
overflow: hidden;
width: 200px;
float:right;
min-height:600px;
}