.newsnav
{
	width:1022px;
	height:30px;
	border: 1px solid #85AFEC;
	background: #E4EDFA;
	overflow:hidden;
	margin-bottom:5px;
	line-height:30px;
}
.news
{
	width:810px;
	height:inherit;
	border: 1px solid #85AFEC;
	background: #E4EDFA;
	overflow:hidden;
	min-height:600px;
	float:left;
	margin-bottom:20px;
}