<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.XuezhijiaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Xuezhijia;Persist Security Info=True;User ID=sa;Password=tongji"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>